<h1>Create a new figure:</h1>
<form action="/figures" method="POST">
<h3>Name: <input type="text" name="figure[name]" id="Name"></h3>
<h2>Titles</h2>

<% @titles.each do |title| %>
  <h3><input id="<%= title.name %>" type="checkbox" name="figure[name][]" value="<%= title.id %>"><%= title.name %></h3>
<% end %>

<input type="submit" value="Create">
</form>
